@use 'sass:list';

/* theme declaration */
:root {
	/* colors */
	--theme-c-soft-black: #34495E;
	--theme-c-dark-grey: #9DA4B2; 
	--theme-c-grey: #DCE1EA;
	--theme-c-soft-white: #F6F8FC;
	--theme-c-white: #fff;
	--theme-c-blue: #139FDB;
	--theme-c-aqua: #30EEEE;
	--theme-c-red: #EC5656;
}

/* semantic variables */
:root {
	/* colors */
  --color-background: var(--theme-c-white);

  --color-border: var(--theme-c-dark-grey);

	--color-input-background: var(--theme-c-soft-white);

  --color-heading: var(--theme-c-soft-black);
  --color-text: var(--theme-c-soft-black);

	--color-error: var(--theme-c-red);

	--color-accent-one: var(--theme-c-blue);
	--color-accent-two: var(--theme-c-aqua);

	--color-contrast-one: var(--theme-c-soft-white); 

	/* spacing */
	--space-0: 0px;
	--space-1: 5px;
	--space-2: 10px;
	--space-3: 15px;
	--space-4: 30px;
	--space-5: 60px;
	--space-6: 100px;

	/* borders */
	--border-radius-0: 0;
	--border-radius-1: 8px;
	--border-radius-2: 10px;
	--border-radius-3: 15px;

	/* gradient */
	--gradient-accent: linear-gradient(90deg, var(--color-accent-one), var(--color-accent-two));
}

@media (prefers-color-scheme: dark) {
	/* to be implemented */
  /* :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  } */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Open Sans';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* typography */
.open-sans {
	font-family: 'Open Sans';
}

.poppins {
	font-family: 'Poppins';
}

.caps {
	text-transform: uppercase;
	letter-spacing: 2px;
}

@for $i from 3 through 7 {
	.fw_#{$i} {
		font-weight: #{$i}00;
	}
}

$font-size: (10px, 12px, 18px, 24px, 36px);
$font-size-len: list.length($font-size);

@for $i from 1 through $font-size-len {
	.fs_#{$i} {
		font-size: list.nth($font-size, $i);
	}
}

/* default element styling */
a {
	color: var(--color-accent-one);
}

